<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../statics/css/lib/mdui.min.css">
    <link rel="stylesheet" href="../statics/css/profile.css">
    <title>提问交流</title>
</head>
<body background="../pics/bg.png">
    <div class="mdui-appbar-fixed">
        <div id="logo" class="logo"> 
          <span class="logo1">猿助</span></div>
        <div class="mdui-tab mdui-tab-centered" style="background-color: rgb(252, 252, 252)" mdui-tab>
          <a href="javascript:void(0)" onclick="showa()" class="mdui-ripple mdui-ripple-white"><span class="font" >智能搜索</span></a>
          <a href="javascript:void(0)" onclick="showb()" class="mdui-ripple mdui-ripple-white" id="tabb"><span class="font">伸出猿手</span></a>
          <a href="javascript:void(0)" onclick="showc()" class="mdui-ripple mdui-ripple-white" id="tabc"><span class="font">我要求猿</span></a>
        </div></div>
   <ul class="mdui-list leftbar" style="max-width: 200px;color: rgb(252, 252, 252);">
    <li class="mdui-list-item" style="margin-top: 30px">
     <i class="mdui-list-item-icon mdui-icon material-icons">search</i><td></td>
     <div class="mdui-list-item-content"><span class="font"><a href="#search"></a>资源检索</a></span></div>
    </li>
    <li class="mdui-list-item">
      <i class="mdui-list-item-icon mdui-icon material-icons">question_answer</i>
    <div class="mdui-list-item-content"><span class="font"><a href="ask.html">提问交流</a></span></div>
  </li>
  <li class="mdui-list-item">
    <i class="mdui-list-item-icon mdui-icon material-icons">person</i>
    <div class="mdui-list-item-content"><span class="font"><a href="profile.html">个人中心</a></span></div>
  </li>
</ul>
<div id="tab3">
  <table class="question" >
    <tr><td class="font1" width="130px" ><span style="margin-left: 20px">标题：</span></td>
    <td><input type="text" id="password" class="text1"></td></tr>
    <tr><td class="font1" style="vertical-align: top"><span style="margin-left: 20px">说明：</span></td>
    <td style="vertical-align: top"><textarea id="newpassword" class="text2"></textarea></td></tr>
    <tr><td class="font1" style="vertical-align:sub"><span style="margin-left: 20px">标签：</span></td>
      <td class="font1 mdui-btn mdui-ripple" id="open" style="color: rgb(77, 148, 177)">点击选择</td></tr>
   <tr><td style="height: 70px "><input type="submit" id="submit" value="求猿!" class="confirm1 font2"/></td></tr>
  </table>
</div>
        <!-- 标签 -->
        <div class="mdui-dialog tagdialog" id="tag_dialog">
                <div class="mdui-row">
                    <p class="mdui-text-center font1" id="edit">编辑标签</p>
                </div>
            <div class="mdui-dialog-content mdui-typo">
                    <div class="mdui-textfield">
                            标签：<input class="text">
                    </div>
            </div>
        </div>
<div id="tab2" style="display: none;">
 
</div>
<div id="tab1" style="display: none;">

</div>
<script src="../statics/js/lib/jquery.js"></script>
<script src="../statics/js/lib/mdui.min.js"></script>
<script src="../statics/js/profile.js"></script>
</body>
</html>
