a:hover
{
background-color:rgb(224, 221, 221)
}
.logo {
  background-color: rgb(1, 102, 144);
  position: absolute;
  left: 220px;
  top: 0px;
  width: 200px;
  height: 49px;
  z-index: 68;
}
navigationbg{
  background-color: rgb(252, 252, 252);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1449px;
  height: 69px;
  z-index: 23;
}
.logo1{
  font-size: 29.33px;
  font-family: "Microsoft YaHei";
  color: rgb(247, 253, 253);
  line-height: 1.2;
  position: absolute;
  left: 72px;
  top: 8.422px;
  width: 65px;
  height: 33px;
  z-index: 69;
}
.font {
  font-size: 20px;
  font-family: "Microsoft YaHei";
  color: rgb(36, 41, 44);
}
.leftbar {
  background-color: rgb(252, 252, 252);
  position: absolute;
  left: 220px;
  top: 50px;
  width: 229px;
  height: 1389px;
  z-index: 45;
}




