.mdui-dialog{
    width: 30%;
}
.mdui-dialog>.mdui-dialog-title{
    background-color: #02648d;
    color: aliceblue;   
}
#dialog .z_input{
    height: 100%;
    display: block;
}

.mdui-dialog .z_icon{
    margin-top: 16px;
    height: 50px;
    display: block;
}
.mdui-dialog-actions{
    color: aliceblue
}


.mdui-textfield-focus .mdui-icon{
    color: #02648d!important;
}
