<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../statics/css/lib/mdui.min.css">
    <link rel="stylesheet" href="../../statics/css/home.css">
    <link rel="stylesheet" href="../../statics/css/QAComm/qSearch.css">
    <title>问题搜索</title>
</head>

<body>
    <div class="mdui-container-fluid">
        <div style="position: fixed;background-color: white;height: 50px;width: 100%;"></div>
        <div class="mdui-row">
            <div class="mdui-col-xs-3 mdui-col-offset-xs-1 left">
                <ul class="mdui-list leftBar">
                    <li class="logo">
                        <div class="mdui-list-item-content" id="logo">猿助</div>
                    </li>
                    <li class="mdui-list-item mdui-ripple ">
                        <i class="mdui-list-item-icon mdui-icon material-icons">search</i>
                        <div class="mdui-list-item-content resource">资源平台</div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">question_answer</i>
                        <div class="mdui-list-item-content QAComm">提问交流</div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">person</i>
                        <div class="mdui-list-item-content profile">个人中心</div>
                    </li>
                </ul>
            </div>
            <div class="mdui-col-xs-8 mdui-col-offset-xs-4 right">
                <div class="mdui-row" style="position: fixed;">
                    <div class="mdui-appbar topBar">
                        <div class="mdui-tab mdui-color-theme" mdui-tab>
                            <a href="#" class="mdui-ripple mdui-ripple-white hall">资源大厅</a>
                            <a href="#" class="mdui-ripple mdui-ripple-white search mdui-tab-active">资源搜索</a>
                        </div>
                        <a style="position: fixed;right: 0px;top: 15px;" id="userName">访客</a>
                    </div>
                </div>
                <div class="mdui-row con top">
                    <div>您好，请问有什么疑问？</div>
                    <div class="mdui-textfield searchCon">
                        <input class="mdui-textfield-input words" type="text" placeholder="请输入问题" />
                        <i class="mdui-icon material-icons" id="search">search</i>
                    </div>
                </div>

                <div class="mdui-row botoom">
                    <div class="list">
                        <!-- <div class="item">
                            <div class="answer">
                                <div class="hint">有猿说:</div>
                                <div class="text">
                                    <span class="ans_text">就是在反讽。 PHP这么一个脚本语言，虽然他是web开发中，使用者最多的语言，最快最简单的语言， 生态环境和社区积累最深厚的语言，但都不能否定它的语法垃圾，高层设计不好</span>
                                    <span class="more">查看详情</span>
                                </div>
                            </div>
                            <div class="question">
                                <div class="hint">原问题:</div>
                                <div class="text">
                                    <span class="state">已解决</span>
                                    <span class="que_text">当说php是最好的语言的时候，理由在哪里</span>
                                </div>
                            </div>
                        </div> -->
                       
                    </div>

                    <div class="page">
                        <span>
                            <i class="mdui-icon material-icons pre">&#xe314;</i>
                            <span class="index"> 1 </span>
                            <i class="mdui-icon material-icons next">&#xe315;</i>
                        </span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="../../statics/js/lib/mdui.min.js"></script>
    <script src="../../statics/js/lib/jquery.js"></script>
    <script src="../../statics/js/lib/jquery.cookie.js"></script>
    <script src="../../statics/js/QAComm/qSearch.js"></script>
    <script>
        $(".leftBar .resource").click(function (e) {
            window.location.href = "../../index.html";
        })
        $(".leftBar .QAComm").click(function (e) {
            // window.location.href = "../../index.html";
        })
        $(".leftBar .profile").click(function (e) {
            // window.location.href = "../../index.html";
        })

        $(".topBar .hall").click(function (e) {
            window.location.href = "../../index.html";
        })
        $(".topBar .search").click(function (e) {
            window.location.href = "./search.html";
        })
    </script>
</body>

</html>