<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../statics/css/lib/mdui.min.css">
    <title>资源搜索</title>
</head>

<body>
    <div class="mdui-container">
        <div class="mdui-row">
            <div class="mdui-col-xs-2" style="background-color: gray;">
                <ul class="mdui-list">
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content" style="text-align: center">猿助</div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">search</i>
                        <div class="mdui-list-item-content">资源平台</div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">question_answer</i>
                        <div class="mdui-list-item-content">提问交流</div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">person</i>
                        <div class="mdui-list-item-content">个人中心</div>
                    </li>
                </ul>
            </div>
            <div class="mdui-col-xs-9">

            </div>
        </div>
    </div>
</body>

</html>