<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>应用栏 - 含 Tab 选项卡</title>
    <link rel="stylesheet" href="../../statics/css/lib/mdui.min.css">
    <title>Document</title>
</head>

<body>

    <body>

        <div class="mdui-container">
            <div class="mdui-tab" mdui-tab>
                <a href="#example1-tab1" class="mdui-ripple">web</a>
                <a href="#example1-tab2" class="mdui-ripple">shopping</a>
                <a href="#example1-tab3" class="mdui-ripple">images</a>
            </div>
            <div id="example1-tab1" class="mdui-p-a-2">web content</div>
            <div id="example1-tab2" class="mdui-p-a-2">shopping content</div>
            <div id="example1-tab3" class="mdui-p-a-2">images content</div>
        </div>

        <script src="../../statics/js/lib/mdui.min.js"></script>
    </body>
</body>

</html>